# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Documentation
**/doc/api/

# iOS
**/ios/Flutter/.last_build_id

# Symbolication
app.*.symbols
app.*.map.json

# Android build
.gradle/
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/